
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* variables */
:root {
--green-color: #7ACC2D;
--white-color: white;
--black-color: #313337;
/* tipografía */
--normal: 12px;
/* espaciado */
--space:10px;
/* box shadow */
--box: 0 0 1px #c1bcbc; 
}



html, body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  margin-right: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* main section */
.main_section {
  padding: 10%;
  text-align: center;
}

.products {
  background-image: url("../images/curve.png");
  /* para que funcione el responsive se sacó el max-height */
  /* max-height: 50px; */
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.product {
  padding: var(--space);
  margin-top: -210px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
} 

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
}

.main_button:hover {
  background-color: #5e9e22;
  cursor: pointer;
  border-radius: 2px;
}


/* Start section 2 */
.beneficios {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px
}

.text_beneficio {
  text-align: justify;
}


/* Start section 3 */
.title {
  text-align: center;
  font-size: var(--normal);
  color: #313337;
  margin: 50px 0;
}

.section_3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.users_mentions {
  margin-right: 10px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
}

h3, p {
  padding: 6px;
}

.footer {
  background-color: #313337;
  color: var(--white-color);
  font-size: var(--normal);
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}







